fnmatch==1.0.0
getpass==1.0.0
requests==2.31.0
shutil==1.0.0
tarfile==1.0.0
urllib3==2.2.1
pathlib==1.0.1
platform==1.0.0
subprocess==0.1.0
time==1.0.0
colorama
psutil
wget
cryptography
mega
pythonping
netifaces
